.mask {
  height: 100%;
  width: 100%;
  position: absolute;
  mask-size: 40px;
  mask-image: url("/images/among-us.gif");
  mask-repeat: no-repeat;
  background-color: aqua;
  background-image: url("/images/among-us.gif");
  background-size: 40px;
 mask-position: 50%;
  background-repeat: no-repeat;
  -webkit-mask-size: 40px; /* For WebKit browsers */
  -webkit-mask-image: url("/images/among-us.gif");
  -webkit-mask-repeat: no-repeat;
}
